language: scala

scala:
   - 2.11.12
   - 2.12.4

jdk:
   - oraclejdk8

before_install:
   # prevent OutOfMemoryError: unable to create new native thread
   - ulimit -t 166384
   # get the actually set values
   - ulimit -a

cache:
  directories:
    - $HOME/.sbt
    - $HOME/.coursier

# use container 
sudo: false
